<nav style="z-index: 10;" id="navbarContainer" class="navbar navbar-expand-lg navbar-light fixed-top bg-body-tertiary" aria-label="{{site.data.author.first_name}}">
  <div class="container-fluid">
    <a class="navbar-brand {%- if site.data.config.show_header_logo == false %} px-2 px-lg-3{% endif %}" href="/">
      {%- if site.data.config.show_header_logo -%}
      <img class="logo d-inline-block align-text-top"
              width="30"
              height="30"
              src="{{ site.data.config.logo | append: '300' | default: './assets/images/logos/user.png'}}"
              alt="{{ site.data.config.logo_alt_text | default: 'Author's image'}}">
              {{site.data.author.name}}
      {%- else -%}
      {{site.data.author.name}}
      {%- endif -%}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#ajpalok_header" aria-controls="ajpalok_header" aria-expanded="false" aria-label="Toggle navigation">
      <svg width="30" height="30">
        <use xlink:href="#three-dots"></use>
      </svg>
    </button>
    <div class="offcanvas offcanvas-end header_tab" tabindex="-1" id="ajpalok_header" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header" style="margin-right: 20px;">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{site.data.author.first_name}}</h5>
        <button type="button" class="navbar-toggler" data-bs-dismiss="offcanvas" aria-label="Close">
          <svg width="30" height="30">
            <use xlink:href="#box-arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %}active{% endif %}" aria-current="page" href="/">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/projects/' %}active{% endif %}" aria-current="page" href="/projects/">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/blogs/' %}active{% endif %}" aria-current="page" href="/blogs/">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/arts/' %}active{% endif %}" aria-current="page" href="/arts/">Arts</a>
          </li>
          {% if site.data.author.social %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Social medias
            </a>
            <ul class="dropdown-menu">
              {% for social in site.data.author.social %}
              <li><a class="dropdown-item" href="{{ social.url }}">
                <svg class="icon header-nav-logo mr-2"
                    role="img" width="25" height="25">
                    <use xlink:href="#{{ social.icon | default: 'people'}}"></use>
                </svg>
                {{ social.title }}
              </a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="btn btn-outline-dark" href="{{ site.data.author.resume }}">Resume</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
