{% assign title = site.data.config.main_title %}
{%- if page.title -%}
{%- assign title = page.title | append: " | " | append: site.data.config.main_title -%}
{%- endif -%}

{% comment %}
assign image = "https://dummyimage.com/600x315/f08a5d/000000.svg&text=" | append : site.data.config.main_title
{% endcomment %}

{% assign image = "/assets/images/me/Abrar_OpenGraph_Image.png" %}
{%- if page.image -%}
    {%- assign image = page.image -%}
{%- endif -%}

{%- assign description = site.data.config.description -%}
{%- if page.description -%}
    {%- assign description = page.description | strip_html | strip_newlines | truncate: 160 -%}
{%- endif -%}

{%- assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url -%}
{%- if paginator.page_trail -%}
    {%- assign url = paginator.first_page_path | replace:'index.html','' | prepend: site.url -%}
{%- endif -%}


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{'/assets/css/abrar_portfolio.css' | prepend: site.baseurl}}">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
{%- if page.tags -%}
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{%- endif -%}

<meta property="og:image" content="{{ image }}"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:locale" content="{{ site.data.config.language }}">
<meta property="og:type" content="article">
<meta property="fb:app_id" content="156037212742246">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ site.baseurl | prepend: site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.data.config.main_title }}">
<meta property="og:description" content="{{ description }}">
<meta property="article:publisher" content="https://www.facebook.com/ajpalok.fb" />
{% if site.data.config.facebook_username %}
<meta property="article:author" content="https://www.facebook.com/{{ site.data.config.facebook_username }}" />
{% endif %}
<meta property="article:published_time" content="{%- if page.date -%}{{ page.date }}{%- else -%}{{ 'now' | date: "%B %d, %Y" }}{%- endif -%}" />
<meta property="og:description" content="{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.data.config.description }}{%- endif -%}">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%- if page.title -%}{{ page.title }}{%- else -%}{{ site.data.config.title }}{%- endif -%}">
<meta name="twitter:description" content="{%- if page.description -%}{{ page.description }}{%- else -%}{{ site.data.config.description }}{%- endif -%}">
<meta name="twitter:site" content="@ajpalok" />
{% if site.data.config.twitter_username %}
<meta name="twitter:creator" content="@{{ site.data.config.twitter_username }}">
{% endif %}
<meta name="twitter:card" content="summary">
<link rel="shortcut icon" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl | prepend: site.url }}/assets/images/icons/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl | prepend: site.url }}/assets/images/icons/ms-icon-180x180.png">
<meta name="revisit-after" content="10 days">
<meta name="theme-color" content="#000000">
<link rel="canonical" href="{{ site.baseurl | prepend: site.url }}{{ page.url }}" />
<link rel="manifest" href="/manifest.json">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Noto+Sans:wght@500&family=Ovo&family=Tiro+Bangla&family=Galada&family=Roboto&display=swap" rel="stylesheet">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

{%- comment -%} Include site-wide JSON-LD portfolio schema (keeps data in sync via _data files) {%- endcomment -%}
{% include schema/portfolio.jsonld %}