<section id="contact" class="contact-section star-pattern w-100 bg-light py-5">
    <h2 class="display-1 text-center">Contact now...</h2>
    <form id="contactForm" action="https://docs.google.com/forms/d/e/1FAIpQLSdd3R43uVOLYIVVEy9OlptTI_v3rqknGUhCXC9we8TpYk1A_Q/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;">
    <div class="row w-50 my-5 m-auto">
        <h3 class="text-center d-flex justify-content-center align-items-center py-md-3 fw-normal col-md-12 col-lg-4">Ask Your Queries or Book a date</h3>


        <div class="col-md-12 col-lg-8 col-xl-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="name" name="entry.835553833" placeholder="Toma Zaman">
                <label for="floatingInput">Name</label>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="email" name="entry.2032932832" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating">
                <input type="text-area" class="form-control" id="query" name="entry.675359573" placeholder="Password">
                <label for="floatingPassword">Query</label>
            </div>
        
            <button class="btn btn-primary fw-bold w-100 py-2" type="submit">Send</button>
            <div id="msgStatus">
            </div>
        </div>
    </div>
    </form>
</section>




<script type="text/javascript">
    var submitted=false;
</script>
<iframe
    name="hidden_iframe"
    id="hidden_iframe"
    style="display:none;"
    onload="if(submitted){
            msgStatus.innerHTML = `
                <div class='alert alert-success alert-dismissible fade show mt-2' role='alert'>
                    <strong>Thanks a lot...</strong> Your message has been sent successfully. I will get back to you soon.
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>`;
                // form reset with input type reset in javascript
                document.getElementById('contactForm').reset();
                
        }"></iframe>