<section class="projects pt-5 w-100 bg-light">
  <div class="row py-md-4 mx-0">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h2 class="display-3 text-center">Projects</h2>
      <p class="text-body-secondary text-center py-4">{{ site.data.index.projects.description }}</p>
    </div>
  </div>



  {%- if site.projects and site.projects.size>0 -%}
  {%- assign projects = site.projects | reverse | limit: 5 -%}
    {%- for p in projects -%}
      {%- assign rtlCheck = forloop.index | modulo: 2 -%}
      {%- if rtlCheck == 1 -%}

      <div class="project-card-holder d-flex justify-content-start">
        
        <div class="bg-body-tertiary project-card-left overflow-hidden">
          <div class="my-4 px-6 py-3 mx-auto text-center">
            <h2 class="display-5">{{p.name}}</h2>
            {%- if p.subHeading -%}
            <p class="lead">{{p.subHeading | strip_html | truncate: 35, " " }}</p> <a class="text-primary" href="{{p.url}}">Continue...</a>
            {%- else -%}
            <p class="lead">{{ p.description | strip_html | truncate: 35, " " }}</p> <a class="text-primary" href="{{p.url}}">Continue...</a>
            {%- endif -%}
          </div>
          <div class="bg-dark shadow-sm mx-auto d-flex justify-content-center align-items-center flex-column" style="
          {%- if p.image -%}
          background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url({{p.image}}) no-repeat center;
          {%- endif -%}
          width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <p class="text-white px-2 pt-2 w-100 d-flex justify-content-center">
              {%- if p.type -%}
              Project type: {{p.type}}
              {%- endif -%}
            </p>

            <div class="text-white px-2 pt-2 d-flex justify-content-around">
              {%- if p.code_link -%}
              <a class="px-2" href="{{ p.code_link }}">Source Code</a>
              {%- else -%}
              <p class="px-2">No Code</p>
              {%- endif -%}

              {%- if p.web_url -%}
              <a class="px-2" href="{{ p.web_url }}">Live Demo</a>
              {%- else -%}
              <p class="px-2">No LiveDemo</p>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>



      {%- else -%}
        


      
      <div class="project-card-holder d-flex justify-content-end">
        
        <div class="bg-primary project-card-right overflow-hidden">
          <div class="my-4 px-6 py-3 mx-auto text-center">
            <h2 class="display-5">{{p.name}}</h2>
            {%- if p.subHeading -%}
            <p class="lead">{{p.subHeading | strip_html | truncate: 35, " " }}</p> <a class="text-white" href="{{p.url}}">Continue...</a>
            {%- else -%}
            <p class="lead">{{ p.description | strip_html | truncate: 35, " " }}</p> <a class="text-white" href="{{p.url}}">Continue...</a>
            {%- endif -%}
          </div>
          <div class="bg-body-tertiary shadow-sm mx-auto d-flex justify-content-center align-items-center flex-column" style="
          {%- if p.image -%}
          {%- comment -%}
          background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url({{p.image}}) no-repeat center;
          {%- endcomment -%}
          
          background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url({{p.image}}) no-repeat center;
          {%- endif -%}
          width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <p class="{%- comment -%}text-dark{%- endcomment -%} text-white px-2 pt-2 d-flex justify-content-center">
              {%- if p.type -%}
              Project type: {{p.type}}
              {%- endif -%}
            </p>

            <div class="{%- comment -%}text-dark{%- endcomment -%} text-white px-2 pt-2 d-flex justify-content-evenly">
              {%- if p.web_url -%}
              <a class="px-2" href="{{ p.web_url }}">Live Demo</a>
              {%- else -%}
              <p class="px-2">No LiveDemo</p>
              {%- endif -%}
              
              {%- if p.code_link -%}
              <a class="px-2" href="{{ p.code_link }}">Source Code</a>
              {%- else -%}
              <p class="px-2">No Code</p>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>







      {%- endif -%}

    {%- endfor -%}

    
    <a class="h2 text-center d-flex justify-content-center py-8 mb-0" href="/projects">
      See All Projects
      <svg class="projects_link" width="30" height="30">
        <use xlink:href="#box-arrow-right"></use>
      </svg>
    </a>


  {%- else -%}
    <p>baking up some projects</p>
  {%- endif -%}






































  {%- comment -%}

  {%- if site.projects and site.projects.size>0 -%}

    
  {%- for project in site.projects -%}
  
  
    {%- assign rightpos = forloop.index | modulo: 2 -%}
    
    {%- if rightpos == 1 -%}
    <br>left
    {%- else -%}
    right
    {%- endif -%}

        <h3>{{ project.name | append: " - " | append: forloop.index }}</h3>
        <p>{{ project.description }}</p>
        <p>{{ project.type }}</p>
        {%- if project.code_link -%}
        <p>{{ project.code_link }}</p>
        {%- else -%}
        <p>Code not available</p>
        {%- endif -%}
        
        {%- if p.web_url -%}
        <p>{{ p.web_url }}</p>
        {%- else -%}
        <p>Hosting No URL</p>
        {%- endif -%}
        <p>{{ project.image }}</p>
        <a href="{{project.url}}">link</a>

    {%- endfor -%}
  {%- else -%} 
    <p>No projects to show</p>
  {%- endif -%}
  {%endcomment%}
</section>