---
layout: default
---
<div class="w-100">
    <div class="card mx-auto" style="max-width: 75ch; margin-top: 5rem; border: none;">
        {% if page.image %}
        <img src="{{page.image}}" class="card-img-top" width="100%" height="255px" style="object-fit: contain;" alt="{{page.title}}">
        {% else %}
        <div style="height:225px;" class="w-100 bg-body-tertiary"></div>
        {% endif %}
        <div class="card-body">
            {% if page.code_link %}
            <a href="{{page.code_link}}" class="btn btn-primary my-3">Get the Codes</a>
            {% endif %}
            {% if page.web_url %}
            <a href="{{page.web_url}}" class="btn btn-primary my-3">Live Demo</a>
            {% endif %}

            <h5 class="card-title h1">{{page.name}}</h5>
            <p class="card-text">
                {{content | markdownify}}
            </p>
            {% if page.code_link %}
            <a href="{{page.code_link}}" class="btn btn-primary">Get the Codes</a>
            {% endif %}
            {% if page.web_url %}
            <a href="{{page.web_url}}" class="btn btn-primary">Live Demo</a>
            {% endif %}
        </div>
    </div>
</div>
